{% extends 'base.html' %}
{% load static %}
{% block title %}Generate{% endblock %}

{% block body %}	


	<div class="input-group input-group-lg" style="width: 600px; left: 630px; top: 100px;"  >
		<div class="input-group input-group-lg" style="position: relative; left: 60px;" >
		<div id="counter">
			<div class="bl" >
				{% if numbers_list.0.Random_chislo %}
					<div data-num= {{numbers_list.0.Random_chislo}} class="number" style="font-size: 150pt; color: #d1d9ca" >0
					</div>

				{% else %}
					<div data-num= {{numbers_list}} class="number" style="font-size: 150pt; color: #d1d9ca" >0
					</div>
				{% endif %}
				
			</div>
		</div>
		</div>

		<div class="input-group-prepend">
			<span class="input-group-text" id="">Число от и до:</span>
		</div>

		<form action="{% url 'generate' %}" method = "post">
			{% csrf_token %}
			{{form}}
			<input placeholder="От" type="text" name="start" class="form-control" value="{{start}}">
			<input placeholder="До" type="text" name="end"} class="form-control" value="{{end}}">
			<button class="input-group-text" type="submit" style="width: 200px;">Сгенерировать число</button>
		</form>

	</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'numcount.js' %}"></script>

{% endblock %}

